<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--MemberMapper 등록-->
<mapper namespace="com.koreait.restapi.mapper.MemberMapper">
<!--    쿼리 작성-->
    <insert id="save" parameterType="MemberDTO">
        insert into member (username, password, name, role) values (#{username}, #{password}, #{name}, #{role})
    </insert>

    <select id="findByUserName" resultType="com.koreait.restapi.dto.MemberDTO">
        select * from member where username=#{username}
    </select>

    <update id="update" parameterType="MemberDTO">
        update member
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name}
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>