<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--MemberMapper 등록-->
<mapper namespace="com.koreait.restapi.mapper.PostMapper">
    <insert id="insertPost" parameterType="PostDTO" useGeneratedKeys="true" keyProperty="id">
        insert into post (title, content, writer_id) values (#{title}, #{content}, #{writerId})
    </insert>

    <select id="getPosts" resultType="com.koreait.restapi.dto.PostDTO">
        select p.*, m.name as writerName, CONCAT('/uploads/', f.upload_path, f.thumbnail_name) as thumbnailUrl from post p join member m on p.writer_id = m.id left join post_file f on p.id=f.post_id order by p.created_at desc limit #{limit} offset #{offset}
    </select>

    <select id="countAllPosts" resultType="int">
        select count(*) from post
    </select>

    <select id="findById" resultType="com.koreait.restapi.dto.PostDTO">
        select * from post where id = #{id}
    </select>

    <delete id="deletePost">
        delete from post where id = #{id}
    </delete>

    <update id="updatePost" parameterType="com.koreait.restapi.dto.PostDTO">
        update post set title = #{title}, content =#{content} where id=#{id};
    </update>



</mapper>